body {
    padding: 0;
    margin: 0;
    background-color: black;
}

section{
    background-color: white;
}

/**********************************  HEADER  *********************************/
* {
    margin: 0;
    padding: 0;
}   
 
header {
    max-height: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header::before {
    position: absolute;
    content:"";
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(./img/interior-2600879_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    z-index: -1;
}


p{
    font-size: 16px;
    font-family: "Merriweather", serif;
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
}

.text-resaltat {
    font-size: 20px;
}

#lista-logo-header {
    display: flex;
    justify-content: flex-start;
}

#lista-navegacion-header {
    background-color:transparent !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    place-items:center;
    padding-bottom: 680px;
    
}

#lista-navegacion-header li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    place-items:center;
    font-size: 18px;
    padding-right: 10px;
}

#lista-navegacion-header li a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: "Special Gothic Expanded One", sans-serif;
    width: 100px;
    padding: 30px; 
    text-align: center;
   
}

#titulo-principal-restaurante {
    position: absolute;
    font-size: 36px;
    top: 50%;
    left:30%;
    transform: translate(-50%,-50%);
    color: gold;
    font-family:  "Italianno", cursive;
    font-size: 90px;
}

#subtitulo-prinicipal-restaurante {
    position: absolute;
    bottom: 35%;
    left: 30%;
    transform: translate(-50%,-50%);
    opacity: 100%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 20px;
}

#boton-reserva-header {
    position: fixed;
    font-size: 19spx;
    bottom: 9%;
    right:2%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    background-color: rgb(135, 26, 4);
    font-family:  "Special Gothic Expanded One", sans-serif;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 3px rgb(135, 26, 4);
    border-radius: 5px;
}

#boton-reserva-header:hover {
    background-color: rgb(90, 5, 5);
    border: solid 3px rgb(90, 5, 5);
}


/**********************************  BANNER  *********************************/


#nosotros {
    padding: 100px;
}

.nosotros-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.nosotros-img {
    margin: 20px;
    height: 290px;
    border: solid 1px;
    border-radius: 8px;
}

#nosotros-titulo {
    padding: 20px;
    font-size: 32px;
    font-family: "Special Gothic Expanded One", sans-serif;
    padding-left: 100px;
}


/**********************************  BANNER  *********************************/


#carta {
    padding: 100px;
}

#carta-titulo {
    padding: 20px;
    padding-left: 100px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 32px;
}

#menu-titulo-general {
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: black;
    color: white;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

#container-menu {
    padding-top: 20px;
}

.menu {
    display: flex;
    height: 500px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-titulo {
    display: flex;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-family: 20px;
    border-radius: 5px;
    border: 3px solid black;
}

.menu-estructura {
    height: 200px;
    padding: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;

}

.menu-estructura-img {
    width:70%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    
}

.menu-estructura-titulo {
    padding-left: 1.8%;
}

.estructura-descimg {
    display: flex;
    flex-direction: row;
    text-align: center;

}

.menu-subtitulo-img {
    padding: 10px;
    border: solid 1px black;
    width: 66%;
    align-items: center;
    justify-content: center;
}

.container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/**********************************  BANNER  *********************************/


#reserva {
    padding: 100px;
}

#container-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input {
    width: 95%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

label {
    font-family: "Merriweather", serif;
}

#titulo-form {
    font-family: "Special Gothic Expanded One", sans-serif;
    margin-bottom: 3%;
}

textarea {
    resize:none;
    width: 97.4%;
    height: 100px;
    padding: 12px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}


footer{
    height: 30px;
}

#boton-reserva-form {
    font-size: 19px;
    background-color: rgb(0, 0, 0);
    font-family:  "Special Gothic Expanded One", sans-serif;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    width: 97.4%;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
}

#boton-reserva-form:hover {
    background-color: rgb(51, 51, 51);
    border: solid 3px rgb(51, 51, 51);
}

#container-form-desc {
display: flex;
flex-direction: column;
}


/**********************************  BANNER  *********************************/
/*
#galeria-img {
    display: flex;
    flex-direction: column;
}

#galeria-container-img {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}*/

.galeria-img-pic {
    width: 300px;
    border: solid 2px rgb(88, 88, 88);
    border-radius: 1px red;
    opacity: 60%;
    margin: 5px;
}

.galeria-img-pic:hover {
    width: 305px;
    opacity: 100%;
}






  .lightbox-toggle {
    display: none;
  }
  
  /* Oculto por defecto */
  .lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .lightbox-img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 12px;
  }
  
  /* Mostrar el lightbox cuando el checkbox esté marcado */
  .lightbox-toggle:checked + .lightbox {
    display: flex;
  }
  
  /* Fondo clicable para cerrar */
  .lightbox-background {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  


  /**********************************  BANNER  *********************************/

footer {
    color: white;
}
  